@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}
body {
  font-family: 'Nunito', sans-serif;
  background-color: hsl(240, 23%, 97%);
  color: hsl(252, 30%, 17%);
}
a {
    text-decoration: none;
    color: black;
}
